.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: #ccc;
    border-radius: 15px;

    transition: 0.4s;

    &::before {
      content: "";
      position: absolute;
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      border-radius: 50%;
      transition: 0.4s;
    }
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }

  input:checked + .slider {
    background-color: rgb(74, 168, 74);
  }
}

// Смена темы

.switch_light {
  .slider {
    background-color: #242424;
  }
}
